* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  font-family: "Inter", sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}

button {
  width: 220px;
  height: 55px;
  border: none;
  background-color: #bdae82;
  font-family: inherit;
  font-size: 20px;
  line-height: 2em;
  transition: 0.3s;
  cursor: pointer;
}

.container {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding: 50px 0;
}
section:nth-child(2) {
  padding-top: 100px;
}

.title__wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 50vw;
  background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
  margin: 0 auto;
  overflow-x: hidden;
}

.title {
  position: relative;
  font-size: 40px;
  line-height: 2em;
  color: #bdae82;
  background-color: #000;
  padding-left: 20px;
  padding-right: 20px;
}

.description {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 2em;
}

.text {
  font-size: 18px;
  line-height: 2em;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.header__wrap {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  transition: 0.2s;
}
.header__logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.header__nav ul {
  display: flex;
}
.header__item {
  margin-left: 31px;
}
.header__link, .header__link--lang,
.header span {
  font-size: 20px;
  color: #fff;
  transition: 0.2s;
}
.header__link:hover:not(span), .header__link--lang:hover:not(span),
.header span:hover:not(span) {
  color: #bdae82;
}
.header span {
  margin: 0 5px;
}
.hero {
  width: 100%;
  height: 910px;
  background: url(../assets/img/bg.png);
}
.hero__content {
  padding: 200px 0 0 60px;
  width: 550px;
}
.hero .heading {
  font-size: 60px;
  line-height: 2em;
  margin-bottom: 10px;
}
.hero .description {
  font-weight: 800;
  margin-bottom: 25px;
}
.hero .hero__button {
  background-color: #bdae82;
}
.hero .hero__button:hover {
  color: #ffffff;
}

.skills {
  text-align: center;
}
.skills__list {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  padding: 0 20px;
}
.skills__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 280px;
}
.skills__icon {
  margin-bottom: 50px;
}
.skills .description {
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}
.skills .text {
  margin-bottom: 10px;
}

.portfolio__list {
  display: flex;
  justify-content: center;
  margin: 60px 0;
}
.portfolio__item {
  margin-right: 5px;
}
.portfolio__item:last-child {
  margin-right: 0;
}
.portfolio__button {
  background-color: transparent;
  border: 2px solid #bdae82;
  color: #bdae82;
}
.portfolio__button:hover {
  color: #000;
  background-color: #bdae82;
}
.portfolio__catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
.portfolio__catalog img {
  width: 450px;
  height: 560px;
}

.video {
  width: 100%;
  height: 100%;
}
.video__wrap {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 60px;
}
.video__wrap img {
  height: 705px;
}
.video__wrap svg {
  position: absolute;
  fill: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.price {
  text-align: center;
}
.price .title {
  margin-top: -3px;
}
.price__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  margin-top: 58px;
}
.price__item {
  flex: 1 0 25%;
  padding: 43px 0 38px 0;
  border: 3px solid #bdae82;
}
.price__item h3 {
  font-size: 28px;
  line-height: 2em;
  margin-bottom: 20px;
}
.price__item h4 {
  font-size: 24px;
  line-height: 2em;
  margin-bottom: 20px;
  color: #bdae82;
}
.price__item span {
  display: block;
  font-size: 18px;
  line-height: 2em;
}
.price__item button {
  margin-top: 40px;
}
.price__item button:hover {
  color: #fff;
}

.contacts {
  margin: 50px 0 0 0;
  height: 700px;
  background-image: url(../assets/img/contacts.jpg);
}
.contacts__wrap {
  display: flex;
  justify-content: flex-end;
}
.contacts__form {
  width: 450px;
  display: flex;
  flex-direction: column;
}
.contacts__form .form__title {
  font-size: 40px;
  line-height: 80px;
  color: #bdae82;
  padding: 10px 0 40px 0;
}
.contacts__form input, .contacts__form textarea {
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
  padding-left: 20px;
  outline: none;
}
.contacts__form input::placeholder, .contacts__form textarea::placeholder {
  color: #bdae82;
}
.contacts__form .form__input {
  height: 50px;
  margin-bottom: 20px;
}
.contacts__form .form__textarea {
  height: 100px;
  margin-bottom: 30px;
}
.contacts__form button:hover {
  color: #fff;
}

.footer {
  height: 150px;
}
.footer__wrap {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 50px;
  color: #fff;
}
.footer__wrap a {
  color: #fff;
}
.footer__list {
  display: flex;
}
.footer__item {
  margin-right: 21px;
}
.footer__RSS {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer__socials {
  display: flex;
  padding-top: 15px;
}
.footer__social-item {
  margin-left: 20px;
}

/*# sourceMappingURL=style.css.map */
