:root{

}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 25px;
}
.header {
}
.container {
}
.header__wrap {
}
.header__logo {
}
.bi {
}
.bi-camera-fill {
}
.header__search {
}
.gallery {
}
.gallery__wrap {
}